<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <template id="menu" name="Menu">
        <div id="menu" class="bg-white">
        
            <div t-if="connected_user['name']" class="big-text"> 
                <b> Bonjour <t t-esc="connected_user['name']"/>, </b> 
                <p> que souhaitez vous faire ? </p>
            </div>

        
            <ul class="lst-none">
                <li class="menu-item d-flex justify-content-between"> <p> Mes Documents </p> <img class="" src="/custom_website/static/src/img/fleche.png"/> </li>
                <li class="menu-item d-flex justify-content-between"> <p> Mes Cours </p> <img class="" src="/custom_website/static/src/img/fleche.png"/> </li>
                <li class="menu-item d-flex justify-content-between"> <p> Mon Profil </p> <img class="" src="/custom_website/static/src/img/fleche.png"/> </li>
            </ul>
        </div>

    
        <link rel="stylesheet" type="text/css" href="/custom_website/static/src/css/menu.css"/>
    </template>

<data>
</data>
</odoo>
