:root {
    --custom-yellow: #fdd12f;
}

.custom-yellow {
    color:var(--custom-yellow);
}

.bg-yellow {
    background-color: var(--custom-yellow);
}
.bg-white {
    background-color: white;
}

#bg-parallaxe {
    background-attachment: fixed; /* Fixe l'image pendant le scroll */
}

/* titres des pages du sites web */
.title {
    background: white;
    border: 1px solid #dee2e6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.title h1{
    position: relative;
    margin: 30px 0px;
}
.title h1::after {
    position: absolute;
    bottom: -10px;
    left: 10%;
    background-color: #fdd12f;
    content: "";
    height: 3px;
    width: 80%;
}



/* le contenu de la page */
.content {
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #dee2e6;
}