#menu {
    border-radius: 20px;
    padding: 9px 6px;
    /* position: fixed; */
}

.menu-item {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    position: relative;
    padding: 10px 5px;
    cursor: pointer;
}

.menu-item a {
    width: 100%;
    color: black;
}

.menu-item::after {
    content: '';
    background: var(--custom-yellow);
    height: 3px;
    width: 50%;
    position: absolute;
    bottom: 0px;
}

img.arrow {
    width: 15px;
    transform: rotate(180deg);
}

ul.lst-none {
    list-style-type: none;
    display: none;
}

#welcome_arrow {
    display: block;
}


@media screen and (min-width: 1200px) {
    ul.lst-none {
        display:  block;
    }

    #menu {
        padding: 30px 20px;
    }

    #welcome_arrow {
        display: none;
    }
}

.sub-menu {
    display: none;
}

