#menu {
    border-radius: 20px;
    padding: 9px 6px;
    /* position: fixed; */
}

.menu-item {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    position: relative;
    padding: 10px 5px;
    cursor: pointer;
}

.menu-item a {
    width: 100%;
    color: black;
}

.menu-item::after {
    content: '';
    background: var(--custom-yellow);
    height: 3px;
    width: 90%;
    position: absolute;
    bottom: 0px;
}

img.arrow {
    width: 15px;
    transform: rotate(180deg);
}

ul.lst-none {
    list-style-type: none;
    display: none;
}

#welcome_arrow {
    display: block;
}

.sub-menu {
    height: 0%;
}

#welcome_msg_container {
    cursor: pointer;
}


/* --------  TABLET  --------- */
@media screen and (min-width: 1200px) {

    ul.lst-none {
        display:  block;
    }

    #menu {
        padding: 30px 20px;
    }

    #welcome_arrow {
        display: none;
    }

    #welcome_msg_container {
        font-size: 1.3em;
        display: flex !important;
        flex-direction: column !important;  
    }

    #welcome_container {
        display: none;
    }

    #menu_container {
        display: flex;
    }

    .col-xl-70 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 70%; 
    }

    #portal_container {
        display: flex !important;
        flex-direction: row !important;
    }
}

