

#profile-picture {
    border-radius:150px;
    overflow: hidden;
    width: 150px;
    margin-bottom:10px;
}

#btn-edit-profile {
    position: absolute;
    right: 20px;
    background-color: #F0F0F0; 
    font-size: 0.8em;
    color: black;

    /*background-color: var(--custom-yellow);
    border: 1px solid black;
    font-weight: bold;
    border-radius: 5px;*/   
}
